/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds.css.scss
 *= require bootstrap_and_overrides
 *= require locations.css.scss
 */
#header{
	color:yellow;
	background-color:#151515;
	height: 2em;
	font-size: 2em;
	border-radius: 2em;
	margin: auto;
	width: 25%;

}
#footer-navbar{
	background-color:#003366;
	font-size: 2em;
	border-radius: 2em;
	width: 50%;
}

