// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { height: 1000px;
	 }
.leaflet-map-pane{
	z-index: 2! important;
}
.leaflet-google-layer{
	z-index:1 !important;
}