<% if Location.any? %>
	<div id="map">	
		<script>
			var map = new L.Map('map', {center: new L.LatLng(<%= first_lat%>-0.36093, <%= first_long%>+.26494), zoom: 16});
			//0.36093, -122.25803
      		var googleLayer = new L.Google('SATELLITE');
      		map.addLayer(googleLayer);
      		var smile = L.AwesomeMarkers.icon({
			    icon: 'fa-smile-o',
			    prefix: 'fa',
			    markerColor:'orange'
			});
		</script>
		<span id="message_received"> <%= render :partial => "locations/drifterElm" %></span>
	</div>
<% else %>
	Please wait for first data point to come in...
<% end %>

    