<center><h2> Please choose from the following drifters or select all, then click menu</h2></center>
<%= form_tag menu_path , :method => :get do %>
    <legend>Drifter Options:</legend>
        <input type="checkbox" name="checkbox-h-1" id="checkbox-h-6a">
        <label for="checkbox-h-6a">One</label>
        <input disabled="" type="checkbox" name="checkbox-h-2" id="checkbox-h-6b">
        <label for="checkbox-h-6b">Two</label>
        <input disabled="" type="checkbox" name="checkbox-h-3" id="checkbox-h-6c">
        <label for="checkbox-h-6c">Three</label>
        <input disabled="" type="checkbox" name="checkbox-h-3" id="checkbox-h-6d">
        <label for="checkbox-h-6d">Four</label>
        <input disabled="" type="checkbox" name="checkbox-h-4" id="checkbox-h-6e">
        <label for="checkbox-h-6e">Five</label>
        <input disabled="" type="checkbox" name="checkbox-h-5" id="checkbox-h-6f">
        <label for="checkbox-h-6f">Six</label>
        <input disabled="" type="checkbox" name="checkbox-h-6" id="checkbox-h-6g">
        <label for="checkbox-h-6g">Seven</label>
        <input disabled="" type="checkbox" name="checkbox-h-7" id="checkbox-h-6h">
        <label for="checkbox-h-6h">Eight</label>
        <input disabled="" type="checkbox" name="checkbox-h-8" id="checkbox-h-6i">
        <label for="checkbox-h-6i">Nine</label>
        <input disabled="" type="checkbox" name="checkbox-h-9" id="checkbox-h-6j">
        <label for="checkbox-h-6j">Ten</label>
        <input disabled="" type="checkbox" name="checkbox-h-10" id="checkbox-h-6k">
        <label for="checkbox-h-6k">Eleven</label>
        <input disabled="" type="checkbox" name="checkbox-h-11" id="checkbox-h-6l">
        <label for="checkbox-h-6l">Twelve</label>
        <input disabled="" type="checkbox" name="checkbox-h-12" id="checkbox-h-6m">
        <label for="checkbox-h-6m">Thirteen</label>
        <input disabled="" type="checkbox" name="checkbox-h-13" id="checkbox-h-6n">
        <label for="checkbox-h-6n">Fourteen</label>
        <input disabled="" type="checkbox" name="checkbox-h-14" id="checkbox-h-6o">
        <label for="checkbox-h-6o">Fiveteen</label>
        <input disabled="" type="checkbox" name="checkbox-h-15" id="checkbox-h-6p">
        <label for="checkbox-h-6p">Sixteen</label>
        <input disabled="" type="checkbox" name="checkbox-h-16" id="checkbox-h-6q">
        <label for="checkbox-h-6q">Seventeen</label>
        <input disabled="" type="checkbox" name="checkbox-h-17" id="checkbox-h-6r">
        <label for="checkbox-h-6r">Eighteen</label>
        <input disabled="" type="checkbox" name="checkbox-h-18" id="checkbox-h-6s">
        <label for="checkbox-h-6s">Nineteen</label>
        <input disabled="" type="checkbox" name="checkbox-h-19" id="checkbox-h-6t">
        <label for="checkbox-h-6t">Twenty</label>
        <input type="checkbox" name="checkbox-h-20" id="checkbox-h-6u">
        <label for="checkbox-h-6u">All</label>
        <br>
    <%= submit_tag "Go to Menu" %>
<% end %>

