<center><h1> Choose from one of the three options! </h1></center>
<br>
<br>
<br>
<ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
    <li><%= link_to "Live", live_path,:rel => "external"%></li>
    <li><%= link_to "History", history_path %></li>
    <li><%= link_to "Data", locations_path %></li>
</ul>