<center><h1> Select mode! </h1></center>
<br>
<br>
 <center> Your current Drifter(s) is <%= session[:drifter] %></center>
<br>
<ul data-role="listview" data-inset="true" data-filter="true" data-input="#filter-for-listview">
    <li><%= link_to "Live", live_path,:rel => "external"%></li>
    <li><%= link_to "History", history_path , :rel => "external"%></li>
    <li><%= link_to "Data", locations_path %></li>
</ul>