<link href="/assets/bootstrap_and_overrides.css?body=1" media="screen" rel="stylesheet" />
<h1> Choose from one of the three options! </h1>
<br>
<%= link_to "Live", live_path,:rel => "external", class: "btn btn-info btn-lg btn-block"%>
<br>	
<br>
<br>	
<br><br>	
<br>
<%= link_to "History", history_path, class: "btn btn-info btn-lg btn-block"%>	
<br>
<br>	
<br><br>	
<br>
<%= link_to "Data", locations_path, class: "btn btn-info btn-lg btn-block" %>