<div id="map">
	
	<script>

			var map = new L.Map('map', {center: new L.LatLng(38.2392497336007, -121.517373829461), zoom: 16});
      		var googleLayer = new L.Google('SATELLITE');
      		map.addLayer(googleLayer);
			 var adjust = L.AwesomeMarkers.icon({
			    icon: 'fa-adjust',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var asterisk = L.AwesomeMarkers.icon({
			    icon: 'fa-asterisk',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var down = L.AwesomeMarkers.icon({
			    icon: 'fa-hand-o-down',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var archive = L.AwesomeMarkers.icon({
			    icon: 'fa-archive',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var circle = L.AwesomeMarkers.icon({
			    icon: 'fa-circle',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var cloud = L.AwesomeMarkers.icon({
			    icon: 'fa-cloud',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var certificate = L.AwesomeMarkers.icon({
			    icon: 'fa-certificate',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var fighter_jet = L.AwesomeMarkers.icon({
			    icon: 'fa-fighter-jet',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var coffee = L.AwesomeMarkers.icon({
			    icon: 'fa-coffee',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var cog = L.AwesomeMarkers.icon({
			    icon: 'fa-cog',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var bug = L.AwesomeMarkers.icon({
			    icon: 'fa-bug',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var beer = L.AwesomeMarkers.icon({
			    icon: 'fa-beer',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var arrow = L.AwesomeMarkers.icon({
			    icon: 'fa-arrow-circle-o-right',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var dot = L.AwesomeMarkers.icon({
			    icon: 'fa-dot-circle-o',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var plus = L.AwesomeMarkers.icon({
			    icon: 'fa-plus-circle',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var rocket = L.AwesomeMarkers.icon({
			    icon: 'fa-rocket',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var smile = L.AwesomeMarkers.icon({
			    icon: 'fa-smile-o',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var star = L.AwesomeMarkers.icon({
			    icon: 'fa-star-o',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var shopping = L.AwesomeMarkers.icon({
			    icon: 'fa-shopping-cart',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var trophy = L.AwesomeMarkers.icon({
			    icon: 'fa-trophy',
			    prefix: 'fa',
			    markerColor:'orange'
			  });
			 var tachometer = L.AwesomeMarkers.icon({
			    icon: 'fa-tachometer',
			    prefix: 'fa',
			    markerColor:'orange'
			  });

			<% if @l0.any? %>
				<% @l0.each do |location| %>
				  L.marker([ <%= location.latitude%> , <%= location.longitude%>], {icon: smile, riseOnHover:true}).addTo(map).bindPopup("<b>Hello I am a robot withoutlabel #{location} is time, #{location.valid} is valid, and  #{loation.gps_speed} is my speed</b>").openPopup();

				<% end%>
			<% end%>
			
			var popup = L.popup();
			function onMapClick(e) {
				popup
					.setLatLng(e.latlng)
					.setContent("You clicked the map at " + e.latlng.toString())
					.openOn(map);
			}
			map.on('click', onMapClick);

	</script>
	
</div>

